name: Deploy on ArgoCD

on:
  workflow_call:
    inputs:
      application-name:
        required: true
        type: string
        description: Application title displayed on ArgoCD interface

      argocd-destination-cluster:
        required: true
        type: string
        description: K8s cluster to deploy

      argocd-project:
        required: true
        type: string
        description: ArgoCD Project

      argocd-server-url:
        required: true
        type: string
        description: ArgoCD server url

      argocd-skip-sync:
        required: false
        type: boolean
        description: Should skip sync step
        default: false

      argocd-sync-timeout:
        required: false
        type: string
        description: ArgoCD sync timeout
        default: "300"
      
      sync-policy:
        required: false
        type: string
        description: ArgoCD Sync Policy (manual,auto)
        default: manual
      
      auto-prune:
        required: false
        type: boolean
        description: Enables Prune Resources
        default: false

      self-heal:
        required: false
        type: boolean
        description: Enables Self Heal
        default: false

      chart-path:
        required: true
        type: string
        description: Helm chart path

      environment:
        required: true
        type: string
        description: Environment

      git-runner-container:
        required: true
        type: string
        description: Github runner container

      image-tag:
        required: true
        type: string
        description: Docker image tag

      namespace:
        required: true
        type: string
        description: K8s namespace

      revision:
        required: false
        type: string
        description: Github ref
        default: HEAD

      repository-url:
        required: true
        type: string
        description: Github repository name

      run-migrations:
        required: false
        type: string
        description: Whether run migrations before or after deploy
        default: "pre-install,pre-upgrade"

    secrets:
      ARGOCD_AUTH_TOKEN:
        required: true

jobs:
  deploy:
    runs-on: ubuntu-22.04
    container:
      image: ${{ inputs.git-runner-container }}
    env:
      # Token to communicate via argocd cli
      ARGOCD_AUTH_TOKEN: ${{ secrets.ARGOCD_AUTH_TOKEN }}
    steps:
      - name: Create/Update application on ArgoCD
        shell: bash
        run: |
          command="argocd app create ${{ inputs.argocd-project }}/${{ inputs.application-name }} \
            --dest-namespace ${{ inputs.namespace }} \
            --dest-name ${{ inputs.argocd-destination-cluster }} \
            --helm-set image.tag=${{ inputs.image-tag }} \
            --helm-set run_migrations=${{ inputs.run-migrations }} \
            --path ${{ inputs.chart-path }} \
            --project ${{ inputs.argocd-project }} \
            --repo ${{ inputs.repository-url }} \
            --server ${{ inputs.argocd-server-url }} \
            --upsert \
            --revision ${{ inputs.revision }} \
            --grpc-web \
            --values values-${{ inputs.environment }}.yaml "

          if [ "${{ inputs.auto-prune }}" == "true" ]; then
            command+=" --auto-prune"
          fi
          
          if [ "${{ inputs.self-heal }}" == "true" ]; then
            command+=" --self-heal"
          fi
          
          command+=" --sync-policy ${{ inputs.sync-policy }}"

          echo "Executing command: $command"
          eval $command

      - name: Run Sync on ArgoCD
        if: inputs.argocd-skip-sync == false
        shell: bash
        run: |
          argocd app sync ${{ inputs.argocd-project }}/${{ inputs.application-name }} \
            --server ${{ inputs.argocd-server-url }} \
            --force \
            --prune \
            --retry-limit 3 \
            --timeout ${{ inputs.argocd-sync-timeout }}
